<section class="staticbackground">
<% if is_logged_in? %>
<% if @user.points >= 60 %>
Hi!
<% else %>
Bye!
<% end %>
 <% else %>
<div class="peeking">
  <img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bigtrouble.gif">
  <h1>No peeking!</h1><p>Bettyland is just for Bettys.<br>Have an account? <%= link_to "login here", new_session_path %><br><br>No account? No problem. You can sign up <%= link_to "here", root_path%>
  </div>
  <% end %>
  </section>
