<h1>There has been an error- yikes!</h1>
<p>Please hit back to correct. Common errors include:</p>
<li>The username is already in use</li>
<li>The email is already in use</li>
<li>Did you fill everything out?</li>
<li>Typos?</li>
<li>Your discount code is not valid</li>
<p>If you have any questions, please don't hesitate to reach out at hello@inbedwithbetty.com!</p>
