<body class="welcomebg">
<div class="welcomecontainer"><h1>Welcome to Betty!</h1>

<p>Thank you for signing up for Betty and welcome to the gang!</p>
<p>Before you're officially in the Betty club, please request to follow <a href="http://instagram.com/inbedwithbetty"> @inbedwithbetty</a>
  and send us a DM to say hi so that you can gain access to the beditations each morning.</p>

<h2>A few reminders of what to expect:</h2>
<p>
<ul><li>We're live every morning at 6, 7, and 8AM PST for about 10-15 minutes. Be sure to tune in!</li>
<li>For every day that you tune in, you'll get a point. We're keeping track of points for you and will update you every week with where you're at.
  <i>Note: If you tune in to the saved story, be sure to DM us and tell us so we can add it to your count!</i></li>
<li>You'll get some sweet surprises from us at 5, 10, 15, and 20 points. After your first 20 points, your can start to redeem your points in our shop</li>
<li>Refer a friend? Let me know! I'll add 2 points to your account.</li></p></ul>


<h2>Betty Best Practices:</h2>
<p><ul><li>Every morning, while we're waiting for people to log on, I ask a check-in question. I'd encourage you to participate so that you can get to know the other people tuning in!</li>
<li>You know that feeling when your friends become friends with each other? Yup. Pretty great. Following other Betty folks' IG accounts is definitely endorsed.</li>
<li>Every Betty Broadcast ends with a little take-away message. This might be some food for thought, a recommendation, or an uplifting news article of the day. Have something you want to share? DM me!</li>


<p>Let me know if you have any trouble getting set up and looking forward to seeing you in the morning!</p>
<div class="welcome-image"><img src="https://s3-us-west-2.amazonaws.com/inbedwithbetty/betty_bye.gif"><br><br><p>xx <a href="http://instagram.com/ineeeda">Neets</a><br><i>Betty Founder</i></p><br>
<div class="loginbutton"><h3><%= link_to 'Set up your account in Bettyland & Explore', bettyland_path %></h3></div><br><br><br></div></div>
</body>
