.thredded--main-container {
  @include thredded--clearfix;
  -webkit-font-smoothing: antialiased;
  box-sizing: content-box;
  color: #c16290 !important;
  font-family: 'Inconsolata' !important;
  font-size: $thredded-base-font-size;
  line-height: $thredded-base-line-height;
  margin: 0 auto;
  max-width: $thredded-grid-container-max-width;
  padding: 0;

  @include thredded-media-tablet-and-up {
    padding: 0 2rem $thredded-small-spacing 2rem;
  }}
