@font-face {
  font-family: 'Cortez';
  src: url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/Cortez-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/Cortez-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/CortezEFOP.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/CortezEFOP.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/cortez-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/CortezEFOP.svg#svgCortez') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Inconsolata';
  src: url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/Inconsolata.eot'); /* IE9 Compat Modes */
  src: url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/Inconsolata.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/Inconsolata.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/Inconsolata.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/Inconsolata.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://inbedwithbetty.s3-us-west-2.amazonaws.com/Inconsolata.svg#svgInconsolata') format('svg'); /* Legacy iOS */
}


h1, h2, h4{
  font-family: 'Cortez', sans-serif;
}

body{
  font-family: 'Inconsolata', sans-serif;
}
