@font-face {
  font-family: 'Cortez';
  src: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/cortez-Regular.woff2') format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/cortez-Regular.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/cortez-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Inconsolata.woff2') format('woff2'),
    url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Inconsolata.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Inconsolata.ttf') format('truetype');
}

h1, h2, h4{
  font-family: 'Cortez', sans-serif;
}

body{
  font-family: 'Inconsolata', sans-serif;
}
