.loginbutton{
background-color: #c16290;
border: none;
color: #FFF;
padding: 10px 28px;
text-align: center;
text-decoration: none;
margin-left: auto;
margin-right: auto;
display: inline-block;
font-size: 16px;
width: 20vw;
}

.meditation-content{
  overflow-x: hidden;
  overflow-y: hidden;
}

.loginbutton a{
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}

.loginbutton:hover {
background-color: #8697aa;
}

div.searcharea{
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
  margin-top: 5vh;
}

.titleBettys{
  max-width: 35%;
}

.titleBettys h1{
  color: #000 !important;
  font-size: 60px !important;
  border-bottom: 5px solid #000;
  margin-bottom: 1vh;
}

div.userssearchform{
width: 35%;
}

div.userssearchform input{
  background-color: #eeddcc;
  color: #FFF;
  border: none;
  width: 15vw;
  padding: 0.75em;
}

div.userssearchform input:focus{
background-color: #eeddcc;
outline: none;
border: none;
color: #000;
font-family: 'Inconsolata', sans-serif;
}

div.userssearchform input[type=submit]{
    background: #c16290;
    color: #FFF;
    font-family: Inconsolata;
    font-size: 14px;
    appearance: none;
    border: none;
    width: 25%;
  padding: 0.5em;
  }



  .paginateusers{
    position: absolute;
    left: 10vw;
  }

  .paginationusers {
    background: white;
    cursor: default;
    /* self-clearing method: */ }
    .pagination a, .pagination span, .pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
    margin-left: 25vw;
  transform: translateX(-50%);}
    .pagination .disabled {
      color: #999999;
      border: 1px solid #dddddd; }
    .pagination .current {
      font-style: normal;
      font-weight: bold;
      background: #c16290;
      color: white;
      border: 1px solid #c16290; }
    .pagination a {
      text-decoration: none;
      color: #c16290;
      border: 1px solid #c16290; }
      .pagination a:hover, .pagination a:focus {
        color: #000033;
        border-color: #000033; }


.allusers{
  margin-top: 5vh;

}

.individualuser .usergif {
  display: none;
}

.individualuser:hover .userphoto {
  display: none;
}

.individualuser:hover .usergif {
  display: block;
}


.individualuser{
  position: relative;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.square{
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 0%;
  background-color: #be8f9c;
  top: 3vh;
  left: 1.5vw;
  z-index: 1;
}

.square2{
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 0%;
  border: 2px #000 solid;
  top: -0.5vh;
  left: .5vw;
  z-index: 1;
}

.username{
  position: absolute;
  top: 16vh;
  left: -2vw;
  z-index: 50;
  color: #000;
}

.username h3{
  font-size: 25pt;
  color: #000;
  text-transform: uppercase;
}


.individualuser .userphoto, .usergif{
  position: absolute;
  z-index: 30;
}

#navbar{
position: fixed;
top: -85vh;
left: 50vw;
width: 100%;
overflow: hidden;
z-index: 500;
background-color: #8697a9;
color: #FFF;
transition: top 0.5s ease;
}

#navbar a{
  color: #FFF;
  text-decoration: none;
  border-bottom: 2px #8697a9 solid;
  transition: all 0.3s ease;
}

#navbar a:hover{
border-bottom: 2px #FFF solid;
margin-bottom: 2vh;
}

.navigation{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.navlinks{
  text-align: right;
  font-size: 14px;
}

.logo img{
  max-width: 10vw;
}

#footernav{
position: fixed;
bottom: -120vh;
left: 50vw;
width: 100%;
overflow: hidden;
z-index: 300;
padding: 5px;
padding-bottom: 5vh;
background-color: #f4eae0;
color: #000;
transition: bottom 0.5s ease;
}

#footernav a{
  color: #000;
  text-decoration: none;
  border-bottom: 2px #f4eae0 solid;
  transition: all 0.3s ease;
}

#footernav a:hover{
border-bottom: 2px #000 solid;
margin-bottom: 2vh;
}

.navigationfooter{
  text-align: center;
}

.navigationfooter p{
    font-size: 14px;
}

.bgimage{
  background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Betty_background_image.jpg');
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}

.welcomebg{
  background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Bettybg_2.jpg');
  background-attachment: fixed;
  bottom: 0;
  right: 0;
  background-size: cover;
}

.edituserbg{
  background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Cloud_Bg_Gif.gif');
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-size: auto;
  background-blend-mode: lighten;
}

.showbg{
  background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Bettybg_4.jpg');
  background-attachment: fixed;
  bottom: 0;
  left: 0;
  background-size: cover;
}

.maincontentbettyland h1, h2, h3{
  color: #c16290;
}


div.maincontentbettyland {
  margin-top: 5vh;
}

.allusers{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 80vw;
margin-right: auto;
margin-left: auto;
padding-bottom: 25vh;
}

.individualuser{
  width: 15%;
margin-left: 5vw;
margin-right: 5vw;
padding-bottom: 250px;
}


.individualuser a{
  text-decoration: none;
}

div.userssearch{
  text-align: center;
}


div.peeking{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  max-width: 350px;
  padding-left: 10px;
  padding-right: 10px;
}



/**bettyland main page **/

.content{
  max-width: 70vw;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
}
.bettylandbgimage{
  background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bettysite_backgroundwhite.jpg');
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}

.bettylandwelcome{
    background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Betty_Site_Background_White_Gif.gif');
  background-size: cover;
  background-repeat: repeat;
  height: 80vh;
  background-position: 0% 45%;
}

.bettylanddiscussion{
    background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bettysite_backgroundpink.jpg');
  background-size: cover;
  height: 60vh;
}

.bettylandnewsletters{
  background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Bettybg_12.jpg');
  background-size: cover;
  height: 80vh;
}

.bettylandmeditations{
    background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bettysite_backgroundblue.jpg');
  background-size: cover;
  height: 40vh;
  margin-top: -20vh;
}

.bettylandbettys{
    background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/Bettybg_5.jpg');
  background-size: cover;
  height: 80vh;
}

.bettylandrewards{
    background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bettysite_backgroundpink.jpg');
  background-size: cover;
  max-height: 60vh;
}

.bettylandwelcomecontent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0vh;
}

.words{
  max-width: 30vw;
  margin-top: -5vh;
}

.words h1{
  font-size: 48px;
}


.words p{
  font-size: 16px;
}

.missywave{
  position: relative;
  max-width: 30vw;
  z-index: 50;
}

.friendshappy{
    padding-bottom: 15vh;
    position: relative;
    max-width: 30vw;
    z-index: 50;
}

.emojihand{
position: relative;
  z-index: 50;
}

.welcomesquare1{
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 0%;
  background-color: #be8f9c;
  top: 0vh;
  left: 5vw;
  z-index: 1;
    max-width: 30vw;
}

.welcomesquare2{
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 0%;
  border: 2px #000 solid;
  top: -3vh;
  left: -3vw;
  z-index: 1;
    max-width: 30vw;
}

.welcomesquare3{
  position: absolute;
  height: 300px;
  width: 400px;
  border-radius: 0%;
  background-color: #8697aa;
  top: 3vh;
  left: 3vw;
  z-index: 1;
    max-width: 30vw;
}


.note{
  font-style: italic;
  color: #c16290;
}

.discussionbutton a{
  text-decoration: none;
  color: #000;
}

.discussionbutton a:hover{
  text-decoration: none;
  color: #FFF !important;
}

.discussionbutton {
  background-color: #eeddcc;
  border: none;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 15vh;
}

.beditategetgoods{
  line-height: 1;
}

.discussionbutton:hover {
  background-color: #c16290;
  border: none;
  color: #FFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    cursor: pointer;
}

.popupimage{
  position: relative;
  top: 10vh;
  left: 8vw;
  max-width: 50vw;
  height: auto;
}

.welcome-words {
max-width: 35vw;
position: absolute;
top: 40vh;
left: 48vw;
transform: translateX(-50%);
  h7{
  font-size: 25px;
  font-family: 'Cortez';
}
}

.discussionbutton2 a{
    text-decoration: none;
    color: #FFFFFF;
}


.discussionbutton2{
  background-color: #c16290;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 15vh;
}

.discussionbutton2:hover {
  background-color: #8697aa;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    cursor: pointer;
}


.bettynews{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20vh;
  position: relative;
}

.eyeball{
  position: absolute;
  top: -30vh;
  left: -25vw;
  max-width: 30vw;
  transform: rotate(-20deg);
}

.content h1{
  font-size: 48px;
}

.meditationimage{
  transition: all ease-out 0.3s;
  position: relative;
  z-index: 6;
}
.meditationimage:hover{
  transform: scale(1.1);
}

.meditationclouds{
  position: relative;
  z-index: 6;
}

.clouds1{
  position: absolute;
  top: -10vh;
  left: 0vw;
  z-index: 1;
  max-width: 5vw;
}
.clouds2{
  position: absolute;
  top: 5vh;
  left: 5vw;
  z-index: 1;
    max-width: 5vw;
}
.clouds3{
  position: absolute;
  top: 25vh;
  left: -15vw;
  z-index: 1;
    max-width: 5vw;
}


.clouds1 path,
.clouds2 path,
.clouds3 path{
  fill: #eeddcc;
  animation: rainbow 10s infinite;
  animation-fill-mode: both;
}

@keyframes rainbow {
    0%   {fill: #eeddcc;}
    25%  {fill: #d7b6bf;}
    50%  {fill: #FFF;}
    75%  {fill: #d7b6bf;}
    100% {fill: #eeddcc;}
}

.slides:nth-child(odd){
  transform: translateX(-30%) translateY(30%) rotate(-30deg);
}

.slides:nth-child(even){
  transform: translateY(-10%) translateX(40%) rotate(30deg);
  transition: all 0.3s ease;
  &:hover{
    transform: rotate(-30deg);
}
}

.slides:last-child{
  transform: rotate(-10deg) translateX(-50%) translateY(-70%);
}

.slides{
  position: relative;
  .slides-igusername{
    display: none;
    position: absolute;
    top: 2vh;
    left: 2vw;
    background-color: #eeddcc;
    padding: 1vh 1vw;
  }
  &:hover{
    .slides-igusername{
      display: block;
    }
  }
}

.meet-bettys{
  position: relative;
}

.waving-hand{
  position: absolute;
  right: -20vw;
  top: 25vh;
  max-width: 30vw;
}


.bettylandwelcomecontent a{
  display: inline-block;
padding: 2em;
margin: -2em;
}
@media(max-width:1000px){
  div.peeking{
    margin-top:5vh;
  }
}

@media(min-width: 1600px){
  .editaccounttitle h1{
    margin-top: 15vh;
  }

.maincontentbettyland h1, h2, h3{
  padding-top: 10vh;
}
}

@media(max-width: 1290px){
  #navbar{
  padding: 2vh;}

  .editaccounttitle h1,
  .maincontentbettyland h1, h2, h3{
    margin-top: 15vh;
  }

  .messagebody{
    padding-top: 50vh;
  }

  .rewardspagecontent,
  .shopindextitle{
    padding-top: 15vh;
  }

  .productinfoshowpage{
    margin-top: 10vh;
  }

  .productinfo1{
    padding-right: 2vw;
  }

}
