

.long-user-info{
position: absolute;
padding-top: 15vh;
margin-left: 40vw;
background: transparent;
width: 55vw;
height: 80vh;
overflow: auto;
}

.basic-user-info{
  position: fixed;
  top: 50px;
  left: 0;
  max-width: 35%;
  margin-left: 10vw;
  padding-top: 5vh;
  padding-right: 10vw;
  z-index: 50;
  padding-bottom: 15vh;
}

.about-details h2{
  color: #000;
}

.jump-links{
    list-style-type: none;
    margin-top: -3vh;
    margin-left: -3vw;
    width: 108%;
    a{
      text-decoration: none;
    }
    li{
      margin-left: auto;
      margin-right: auto;
      padding: 1%;
      width: 108%;
      text-align: center;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
    &:first-child{
      border-top: 1px solid #000
    }
    &:hover{
      background: #eeddcc;
    }
  }
}


.photo-uploader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10vh;
}

.loginform h3{
color: #000;
}

.loginform .photoinput{
  width: 100%;
  font-family: 'Inconsolata', sans-serif;
}

.loginform .MHSinput{
background-color: #8697aa;
width: 100%;
font-family: 'Inconsolata', sans-serif;
}

.loginform .MHSinput:focus,
.loginform .smallerinput:focus,
.loginform .mediuminput:focus{
background-color: #8697aa;
font-family: 'Inconsolata', sans-serif;
}

.loginform .smallerinput{
  width: 100%;
  background-color: #8697aa;
  font-family: 'Inconsolata', sans-serif;
}


.loginform .mediuminput{
  width: 100%;
  background-color: #8697aa;
  font-family: 'Inconsolata', sans-serif;
}

.loginform .secondaryinput{
  background-color: #eeddcc;
  width: 100%;
  font-family: 'Inconsolata', sans-serif;
}

.loginform .secondaryinput::placeholder{
  color: #000;
  font-family: 'Inconsolata', sans-serif;
}

.loginform .secondaryinput:focus{
  background-color: #eeddcc;
  font-family: 'Inconsolata', sans-serif;
}


.loginform .paragraph{
  width: 100%;
  height: 100%;
  outline: none;
  background-color: #c49aa6;
  color: #FFF;
  border: none;
  width: 30vw;
  padding: 0.5em 0.75em 0.5em 0.75em;
  margin-bottom: 7px;
  font-family: 'Inconsolata', sans-serif;
}

div.loginform .paragraph:focus{
background-color: #c16290;
outline: none;
border: none;
color: #FFF;
font-size: 16px;
line-height: 1.3em;
font-family: 'Inconsolata', sans-serif;
}

.userprofilesection{
  padding-bottom: 20vh;
}


.editaccounttitle{
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.editaccounttitle h1{
  color: #000;
}

@media(min-width: 1500px) {
    .basicinfo{
    margin-top: -45vh;
    padding-bottom: 3vh;
    border-bottom: 2px solid #000;
    }
  }


@media(max-width: 1000px){
  .basicinfo{
  margin-top: -20vh;
  padding-bottom: 3vh;
  border-bottom: 2px solid #000;
  }
}


/**user show page **/


.usershowprofile{
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.editprofile{
  margin-top: 3vh;
}

.showuserbasics{
max-width: 20vw;
margin-right: 5vw;
}

.showuserborder{
background-color: #c49aa6;
padding-left: 1vw;
padding-right: 1vw;
padding-top: 1vh;
padding-bottom: 1vh;
}

.showuserbasics1 h1{
  text-transform: lowercase;
}

.showuserbasics1{
  margin-bottom:3vh;
  border: 0px;
}

.showuserbasics2{
background-color: #eeddcc;
border: 0px;
padding-left: 1vw;
padding-right: 1vw;
padding-top: 1vh;
padding-bottom: 1vh;
}

.showuserbasics2 a{
  text-decoration: none;
  color: #000;
}

.showuserbasics2 a:hover{
  color: #c16290;
}

.showuserbasics3{
background-color: #c16290;
color: #FFF;
border: 0px;
padding-left: 1vw;
padding-right: 1vw;
padding-top: 1vh;
padding-bottom: 1vh;
}

.showuserbasics3 a{
color: #FFF;
text-decoration: none;
}

.showuserbasics3 a:hover{
  color: #000;
}

.showuserabout{
margin-left: 5vw;
margin-bottom: 10vh;
}

.editprofile{
background-color: #000;
padding: 1vw 1vh 1vw 1vh;
}

.editprofile a{
color: #FFF;
text-decoration: none;
transition: all 0.5s ease;
}

.editprofile a:hover{
border-bottom: 1px solid #FFF;
}


.showuserabout h2,
.showpagecomfortcornertitle h2{
  font-size: 38px;
}

.showuserabout h3{
  text-transform: uppercase;
}


.MHShelfie{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.MHS_sections{
  width: 40%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vh;
  padding-top: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.MHSborder{
  border: 1px dashed #000;
}
