@media(max-width: 450px){
  .navigation{
  display: block;
  }
  }

  @media(max-width: 1030px){

    body{
      font-size: 10px;
    }


    .bettylanddiscussion{
        background-image: url('https://s3-us-west-2.amazonaws.com/inbedwithbetty/Images/bettysite_backgroundpink.jpg');
      background-size: 100vw;
      height: 60vh;
    }

  .titleBettys h1{
    font-size: 32px !important;
  }
.maincontentbettyland{
  margin-left: -5vw;
}
  .navlinks,
  .navigationfooter p{
    font-size: 10px;
  }

  .content h1{
    font-size: 32px;
    margin-top: 10vh;
  }

  .words p{
    font-size: 10px;
    padding-right: 5vw;
  }


  .bettylandmeditations .words{
    padding-left: 10vw;
  }

  .discussionimage img{
    max-width: 80%;
  }

  .words h1{
    font-size: 32px;
    padding-right: 5vw;
  }

  .individualnewsletter .newsletterrectangle,
  .individualnewsletter .newsletterrectangle2{
    width: 150px;
    height: 150px;
  }
  .username h3{
    font-size: 12px;
  }

  .meditationimage{
    max-width: 70%;
  }

  .meditationclouds{
    max-width: 40%;
    margin-bottom: 20vh;
  }

  .clouds1{
    position: relative;
    top: -30vh;
    left: 0vw;
    z-index: 1;
    max-width: 5vw;
    display: none;
  }
  .clouds2{
    position: relative;
    top: -5vh;
    left: 0vw;
    z-index: 1;
      max-width: 5vw;
      display: none;
  }
  .clouds3{
    position: relative;
    top: 0vh;
    left: 0vw;
    z-index: 1;
      max-width: 5vw;
      display: none;

  }

  .searcharea h1{
    font-size: 32px;
  }
    .messagebody{
      padding-top: 50vh;
    }

h3, h2, h4{
      margin-top: 0px;
    }

div.messagebody{
      padding-top: 0vh;
      margin-top: 15vh;
    }

    div.shownewsletter{
      margin-top: 30vh;
    }

    div.newsletterdate{
      margin-bottom: 1vh;
    }

    #circle{
      top: 20vh;
      z-index: 1;
    }

    div.showuserbasics, .showuserabout{
      margin-top: 10vh;
    }

    div.basicinfo{
      margin-top: -70vh;
}

    .individualuser{
      width: 33%;
      margin-left: 15vw;
    }

div.login{
  margin-top: 10vh;
}

}

@media(max-width: 775px){
    .username{
      position: absolute;
      top: 0vh;
      left: 10vw;
      z-index: 50;
      color: #000;
    }

div.showuserabout{
margin-top: -15vh;
    }

    .shownewsletter {
      margin-top: 28vh;
    }

.messagebody{
  margin-top: 0vh;
}

.messagebody p{
  margin-bottom: 2vh;
}

.messagecontent{
  top: 5vh;
}
  }
